body{
    background-color: #05152f;
    color: white;
    font-family:'Righteous', cursive;
    margin-left: 0px;
    margin-right: 0px;
}
.paralellogram_1 {
	position:absolute;
	width: 15%;
	height: 50%;
	transform: skew(340deg);
	background:#7ba435;
    top:0;
    left:0;
    z-index:-1;
    opacity: 0.05;
}
.paralellogram_2 {
	position:absolute;
	width: 15%;
	height: 80%;
	transform: skew(340deg);
	background: #7ba435;
    top:0px;
    left:8%;
    z-index:-2;
    opacity:0.05;
}

.paralellogram_3  {
	position:absolute;
	width: 15%;
	height: 80%;
	transform: skew(340deg);
	background:#7ba435;
    top:50%;
    right:8%;
    z-index:-1;
    opacity: 0.05;
}
.paralellogram_4  {
	position:absolute;
	width: 15%;
	height: 50%;
	transform: skew(340deg);
	background: #7ba435;
    top: 20%;
    right:8%;
    z-index:-2;
    opacity:0.05;
}

li{
    display: inline;
     
}
.topnav{
    text-align: center;
    overflow: hidden;
}

#left{
    float: left;
    margin-left: 13%;
    margin-top: 3%;
    font-size: 25px;
}

.right{
    padding: 1% ;
    float: right;
    position:relative;
    margin-top: 2%;
    margin-right: 10%;
    background-color:#7ba435;
    color: white;
    border-radius: 7px;
    
}

#hamburger-menu{
    display: none;
}

.arrow{
    width:10%;
}

#home{
    background-color: #7ba435;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
.center{
    padding: 1%;
    border-radius: 7px;
    display: inline-block;
    margin-top: 2%;
    
}

.center:hover{
    background-color: #7ba435;
}

#down_arrow{
    width: 12px;
    padding-left: 7px;
}


#cart{
    float:right;
    width: 2%;
    padding-right: 2%;
    margin-top: 3%;
}

#hamburger-menu{
    display: none;
}

.part_1_text{
    padding-left: 15%;
    margin-top: 5%;
    width: 50%;
    float: left;
}

.part_1_child{
    width: 35%;
}


.play_now{
    display: inline;
    padding: 5%;
    position:relative;
    background-color:#7ba435;
    color: white;
    border-radius: 7px;
    float:left;
    margin-right: 5%;
    margin-top: 3%;
}

#play_now{
    display: inline;
}

.triangle{
    margin-top: 10%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #7ba435 ;
    border-bottom: 5px solid transparent;  
    float: right;
}

.circle{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    left: 85%;
    z-index:-1;
    border: 5px solid rgba(25, 39, 63, 1);
    
}
 #warzone{
    float: right;
    margin-right: 50px;
    
 }

#any_where{
    display: inline;
    float: left;
    margin-right: 20px;
    color: #7ba435;

}

#star{
    width: 15px;
    display: inline;
    float: left;
    margin-right: 20px;
}

#any_time{
    color: #7ba435;
}

#game_with_livestreaming{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.part_2{
    margin-top: 550px;
    background-color: #000f2e;
    margin-left: 0%;
    height: 400px;
}

#girl{
    margin-top: 50px;
    height: 300px;
    margin-left: 15%;
    float: left;
    width: 35%;
    height: auto;
}

.part_2_text{
    width:400px;
    float: right;
    margin-top: 50px ;
    margin-right: 15%;
    
    
}

#live_streaming{
    color: #7ba435;
    text-align: left;
    position: relative;
}

#live_streaming:before{
    content:"";
    width: 40px;
    height: 2px;
    background-color: #7ba435;
    top: 50%;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

#watch_unlimited{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gamic{
    margin-bottom: 20px;
}

.triangle2{
    margin-top: 183px;
    width: 50;
    height: 50;
    border-top: 8px solid transparent;
    border-left: 15px solid #7ba435 ;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: 32.5%;
    z-index: 3;
}

.circle2{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    z-index:2;
    margin-top: 150px;
    left: 30%;
    opacity: 0.7;
}

.hexagon{
    background-color: white;
    color: #7ba435;
    width: 250px;
    height: 50px;
    position: absolute;
    text-align: center;
    margin-top: 24.5%;
    left: 23%;
    z-index: 2;    
}

.hexagon:before{
    content:"";
    transform: rotate(45deg);
    background-color: white;
    width:38px;
    height:39px;
    top: 5.3px;
    right: 230px;
    position:absolute;
    border-radius:6px;
    z-index:-2;
}

.hexagon:after {
    content:""; 
    transform: rotate(45deg);
    background-color: white;
    width:38px;
    height:39px;
    top: 5.3px;
    left: 230px;
    position:absolute;
    border-radius:6px;
    z-index:-2;
}

.play_now_2{
    width: 25%;
    background-color: #7ba435;
    padding: 2%;
    border-radius: 5px;
}

#upcoming_match, #part_3_text{
    text-align: center;
    width: 33%;
    margin-left:33%
}

#upcoming_match{
    font-size: 40px;
    margin-bottom: 10px;
}

#match-cards{
    margin-left: 7%;
}

#match_1{
    border: 2px solid #1c2e44 ;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    position: relative;
    margin-top: 40px;
    float: left;
}

.match_div1{
    margin-top: 0px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom:2px solid #1c2e44;
}

.img, .vs{
    width: 50px;
    margin-top: 25px;
    
}

.vs{
    margin: 0px 25px 0px 25px;
}

.watch{
    display: inline;
    width: 20px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 6px;
}

.live_stream{
    margin-top: 9px;
    font-size: 11px;
    color: #7ba435;
}

.livestream{
    border: 2px solid #1c2e44;
    position: absolute;
    width:120px;
    z-index:2;
    margin-top: -20px;
    height: 30px;
    background-color: #05152f;
    margin-left: 25%;
    border-radius: 50px;
}

.details{
    margin-top: 40px;
    
    padding-bottom: 20px ;
    margin-left: 10%;

}

.date{
    color:#82898d ;
    font-size: 11px;
}

.match_name{
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.teams_registered{
    font-size: 11px;
    color: #7ba435;
}

#match_2{
    border: 2px solid #1c2e44 ;
    margin-left:2%;
    margin-right: 2%;
    border-radius: 5px;
    position: relative;
    margin-top: 40px;
    float: left;
}
.match_div2{
    margin-top: 16px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom:2px solid #1c2e44;
}

.others_match{
    position: relative;
}

.match_1:hover{
    border-color: #7ba435;
}

.match_2:hover{
    border-color: #7ba435;
}

.others_match{
    left:45%;
    margin-top: 25px;
    background-color:#7ba435;
    color: white;
    border-radius: 5px;
    width: 12%;
    padding: 10px 15px 10px 15px;
}

.part_4_div{
    display: inline-block;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    
}

.part_4{
    margin-top: 50px;
    background-color:#000f2e;
    
}

#part_4_child{
    width: 70%;
    margin-left: 15%;
    border: 2px solid #1c2e44;
    margin-top: 75px;
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 75px;
    border-radius: 15px;
}

.part_4_1{
    font-size: 400%;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

.part_4_2{
    font-size: 90%;
    background-color: #7ba435;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    text-align: center;
}

.part_5{
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 15px;
    height: 120px;
    margin-right: 15%;
    background-color:#7ba435;
}

.subscribe{
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-left: 30px;
    color: white;
}
::placeholder{
    color:#7ba435;
    opacity: 1;
}
#email{
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 35px;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #7ba435;
}

.subscribe_button{
    position: absolute;
    color:white;
    background-color:#000f2e;
    border-radius: 5px;
    margin-top:-48px;
    right: 21%;
    padding:1%;
    width: 9%;
}


#subscribe_newsletter{
    font-size: 20px;
    margin-bottom: 10px;
}

#subscribe_text{
    font-size: 13px;
}

.part_6{
    font-size: 14px;
    margin-top: 50px;
    margin-left: 15%;
    color: #c0c6ce;
}

#space{
    z-index: 2;
}

#p6{
    float: left;
}

/* .part_6_1{
    width: 20%;
    margin-right: 5%;
}

.part_6_2{
    width: 20%;
    margin-right: 5%;
}

.part_6_3{
    
    margin-right: 5%;
   
} */
.part_6_title{
    color: white;
    font-size: 18px ;
    margin-top: 15px;
    margin-bottom: 40px;
}

.part_6_Game8{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#p6sub{
    color: #7ba435;
}

.social_media{
    width: 20px;
    margin-right: 5%;
    background-color:#1c2e44;
    padding: 5px;
    border-radius: 50%;
}

.winners{
    width: 60%;
}

.win{
    width: 50px;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    #menu{
        display: none;
        clear: both;
        background-color: #7ba435;
        width: 80%;
        float: left;
        margin-left: 10%;
        border-radius: 7px;
    }

    .center,.right{
        clear: both;
        display: block;
        float: left;
        padding: 1%;

    }

    #hamburger-menu{
        display: block;
        float: right;
        margin-top: 3%;
        margin-right: 10%;
    }

    .arrow, #cart{
        display: none;
    }



    body{
        margin-right: 0;
    }


    #paralellograms{
        
        width: 0%;
    }

    .topnav{
        margin-top: 5%;
        display: inline-block;
        width: 100%;
    }

    .part_1_text{
        width: 80%;
        margin-right: 0%;
    }

    #game_with_livestreaming{
        font-size: 50px;
    }
    
    #left{
        margin-left: 10%;
        float: left;
        display: inline;
        margin-right: 0px;
    }

    .play_now{
        width: 70%;
        font-size: 15px;
    }

    .triangle{
        margin-top: 10%;

    }

    .circle{
        width: 30px;
        height: 30px;
    }

    .part_1_child{
        width: 35%;
    }

    #warzone{
        width: 80%;
    }

    .part_2{
        margin-top: 150%;
        margin-right: 0%;
        height: 700px;
        width: 100%;
    }

    #girl{
        width: 70%;
    }

    .circle2{
        left:45%;
        margin-top: 25%;
    }

    .triangle2{
        margin-top: 31%;
        left: 51%;
    }

    .hexagon{
        margin-top: 50%;
        left: 30%;
    }

    #upcoming_match, #part_3_text{
        width: 70%;
        margin-left:15% ;
    }

    .livestream{
        margin-left: 35%;
    }

    .img, .vs{
        width: 60px;
    }

    .details{
        margin-left: 20%;
    }

    .others_match{
        left:38%
    }

    .subscribe{
        width: 85%;
    }
    .part_5{
        height: 200px;
    }

    #email{
        margin-top: 20px;
        width: 85%;
    }

    .subscribe_button{
        width: 19%;
        height: 5%;
        margin-right: 5%;
        margin-top: -8%;
    }
}


    














